* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    font-family: sans-serif;
}

.app-main {
    height: 100vh;
    overflow: hidden;
    display: flex;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.app-body {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    align-items: center;
    position: relative;
}


.carousel-item {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    aspect-ratio: 16 / 8;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.527);
    transition: 500ms all;
}


.carousel-item.active {

    opacity: 1;
}


.carousel-text {
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgba(109, 109, 109, 0.322);
    padding: 20px;
    font-size: 12px;
    backdrop-filter: blur(10px);
}


.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


#carousel-item-0 .carousel-img {
    object-position: 50% 34%
}

#carousel-item-1 .carousel-img {
    object-position: 50% 38%;
}

#carousel-item-2 .carousel-img {
    object-position: 100% 50%;
}

#carousel-item-3 .carousel-img {
    object-position: 100% 30%;
}

#carousel-item-4 .carousel-img {
    object-position: 50% 55%;
}

.app-toolbar {
    width: 150px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    background-color: rgba(0, 119, 255, 0.05);
    backdrop-filter: blur(3px);
}

.toolbar-thumbnail {
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 80%;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.247);
    transition: 500ms all;
    opacity: 0.5;
}

.toolbar-thumbnail.active {
    opacity: 1;
}


#thumbnail-2 img {
    object-position: 65% 50%;
}


#thumbnail-3 img {
    object-position: 93% 50%;
}


.toolbar-thumbnail:hover {
    transform: scale(1.1);
}

/* .toolbar-thumbnail img {
    filter: blur(3px);
} */

.nav-button {
    border: 2px solid;
    color: rgba(43, 46, 53, 0.623);
    font-size: 30px;
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 200ms all;
    user-select: none;
    overflow: hidden;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.548));
}

#nav-down {
    order: 1;
}


.nav-button:hover {
    color: rgb(66, 64, 70);
    transform: scale(1.1);
}


.nav-button i {
    display: block;
}


::-webkit-scrollbar {
    display: none;
}